# Hands-On: SQL Basics Practice

Welcome to your first interactive SQL lab! In this notebook, you'll practice SELECT statements using our **Coffee Shop Database**.

**Learning Goals:**

By completing this notebook, you will:
- Create a PostgreSQL database and table
- Import data from a CSV file
- Write and execute SELECT queries
- Filter, sort, and limit results

## Part 0: Database Setup

### Choosing Your Python Kernel

Before running any code, make sure you have a **Python kernel** selected:

- **Jupyter Notebook:** Kernel â†’ Change kernel â†’ Python 3
- **JupyterLab:** Click kernel name in top-right â†’ Select Python 3
- **VS Code:** Click Select Kernel â†’ Python Environments

---

### Setup Steps

1. Install required packages
2. Load the SQL extension
3. Create our database
4. Import data from CSV

### Step 1: Install Required Packages

Run this cell once. **After running, restart the kernel** (Kernel â†’ Restart).

In [ ]:
# Install required packages (run once)
!pip install ipython-sql psycopg2-binary sqlalchemy pandas 'prettytable<3.10'

### Step 2: Load SQL Extension

**âš ï¸ You MUST run this cell before any SQL cells!**

In [ ]:
# Load the SQL extension
%load_ext sql

# Configure SQL magic
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False
%config SqlMagic.style = 'PLAIN_COLUMNS'

print("âœ… SQL extension loaded successfully!")

### Step 3: Connect to PostgreSQL

**Replace `yourpassword` with your actual PostgreSQL password.**

In [ ]:
# Connect to PostgreSQL
%sql postgresql://postgres:yourpassword@localhost/postgres

In [ ]:
%%sql
-- Create the database (ignore error if already exists)
CREATE DATABASE coffee_shop_db;

In [ ]:
# Connect to our database
%sql postgresql://postgres:yourpassword@localhost/coffee_shop_db

### Step 4: Import Data from CSV

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Read CSV - adjust path as needed
csv_path = '../data/coffee_shop_data.csv'
df = pd.read_csv(csv_path)

# Clean column names
df.columns = df.columns.str.replace('-', '_').str.lower()

# Import to PostgreSQL
engine = create_engine('postgresql://postgres:yourpassword@localhost/coffee_shop_db')
df.to_sql('transactions', engine, if_exists='replace', index=False)

print(f"âœ… Imported {len(df)} rows into transactions table!")

In [ ]:
%%sql
-- Verify the import
SELECT COUNT(*) AS total_rows FROM transactions;

---

## âœ… Setup Complete! Let's Query!

---

## Part 1: Basic SELECT Queries

In [ ]:
%%sql
-- View the first 5 rows
SELECT * FROM transactions LIMIT 5;

In [ ]:
%%sql
-- Select specific columns
SELECT product, product_category, unit_price
FROM transactions
LIMIT 10;

### ðŸŽ¯ Exercise 1

Select `transaction_date`, `product`, `quantity`, and `line_item_amount`. Show 10 rows.

In [ ]:
%%sql
-- YOUR CODE HERE

## Part 2: Filtering with WHERE

In [ ]:
%%sql
-- Find beverages
SELECT product, product_type, unit_price
FROM transactions
WHERE product_category = 'Beverages'
LIMIT 10;

In [ ]:
%%sql
-- Multiple conditions
SELECT product, unit_price
FROM transactions
WHERE product_category = 'Beverages'
  AND unit_price > 3.50
LIMIT 10;

### ðŸŽ¯ Exercise 2

Find all **Food** items costing between **$2.00 and $4.00**.

In [ ]:
%%sql
-- YOUR CODE HERE

## Part 3: Sorting with ORDER BY

In [ ]:
%%sql
-- Most expensive items
SELECT DISTINCT product, product_category, unit_price
FROM transactions
ORDER BY unit_price DESC
LIMIT 10;

### ðŸŽ¯ Exercise 3

Find the **5 cheapest beverages**.

In [ ]:
%%sql
-- YOUR CODE HERE

## Part 4: DISTINCT Values

In [ ]:
%%sql
-- Unique product categories
SELECT DISTINCT product_category
FROM transactions
ORDER BY product_category;

### ðŸŽ¯ Exercise 4

What unique **store cities** are in our data?

In [ ]:
%%sql
-- YOUR CODE HERE

## ðŸ† Challenge Exercises

### Challenge 1

Find the 10 highest-value transactions. Show staff name, product, amount, and city.

In [ ]:
%%sql
-- YOUR CODE HERE

### Challenge 2

Find coffee products with quantity >= 2. Use LIKE to match product names.

In [ ]:
%%sql
-- YOUR CODE HERE

## Summary

âœ… SELECT with specific columns  
âœ… WHERE for filtering  
âœ… ORDER BY for sorting  
âœ… LIMIT for limiting rows  
âœ… DISTINCT for unique values  

**Next:** Module 6 - Creating and Editing Tables!