# Hands-On: SQL Basics

Welcome to your first interactive SQL lab! In this notebook, you'll practice the SELECT statements we learned in the previous chapter using our **Coffee Shop Database**.

```{admonition} Learning Goals
:class: tip

By completing this notebook, you will:
- Connect to a PostgreSQL database from Jupyter
- Write and execute SELECT queries
- Filter, sort, and limit results
- Explore real-world data
```

## Setup: Connecting to the Database

First, we need to load the SQL extension and connect to our database. Run the cells below to get started.

In [ ]:
# Install required packages (only need to run once)
# !pip install ipython-sql psycopg2-binary sqlalchemy pandas

In [ ]:
# Load the SQL extension
%load_ext sql

# For nicer output formatting
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = False

In [ ]:
# Connect to the database
# Replace 'yourpassword' with your actual PostgreSQL password
%sql postgresql://postgres:yourpassword@localhost/coffee_shop_db

```{note}
If you're using Google Colab or don't have PostgreSQL installed, you can use SQLite instead:

```python
%sql sqlite:///coffee_shop.db
```
```

## About the Coffee Shop Data

Our dataset contains transaction records from a coffee shop chain with multiple locations in New York. The `transactions` table includes:

| Column | Description |
|--------|-------------|
| transaction_id | Unique identifier for each sale |
| transaction_date | Date of the transaction |
| transaction_time | Time of the transaction |
| quantity | Number of items sold |
| line_item_amount | Total amount for the line item |
| unit_price | Price per unit |
| product_category | Category (Beverages, Food, etc.) |
| product_type | Type within category |
| product | Specific product name |
| store_city | City where the store is located |
| first_name, last_name | Staff member who made the sale |

## Part 1: Basic SELECT Queries

Let's start with some basic queries to explore the data.

### Example 1: Select All Columns

View the first few rows of our data:

In [ ]:
%%sql
SELECT *
FROM transactions
LIMIT 5;

### Example 2: Select Specific Columns

Focus on just the product and price information:

In [ ]:
%%sql
SELECT 
    product,
    product_category,
    unit_price
FROM transactions
LIMIT 10;

### ðŸŽ¯ Your Turn: Exercise 1

Write a query to select the `transaction_date`, `product`, `quantity`, and `line_item_amount` columns. Show 10 rows.

In [ ]:
%%sql
-- YOUR CODE HERE
-- Write your SELECT statement below

```{admonition} Solution
:class: dropdown

```sql
SELECT 
    transaction_date,
    product,
    quantity,
    line_item_amount
FROM transactions
LIMIT 10;
```
```

## Part 2: Filtering with WHERE

The WHERE clause lets us filter data based on conditions.

### Example 3: Simple Filter

Find all coffee beverages:

In [ ]:
%%sql
SELECT product, product_type, unit_price
FROM transactions
WHERE product_category = 'Beverages'
LIMIT 10;

### Example 4: Multiple Conditions (AND)

Find beverages that cost more than $3.50:

In [ ]:
%%sql
SELECT product, product_type, unit_price
FROM transactions
WHERE product_category = 'Beverages'
  AND unit_price > 3.50
LIMIT 10;

### Example 5: Using IN for Multiple Values

Find sales from specific cities:

In [ ]:
%%sql
SELECT product, store_city, unit_price
FROM transactions
WHERE store_city IN ('New York', 'Brooklyn')
LIMIT 10;

### Example 6: Pattern Matching with LIKE

Find all products with "Latte" in the name:

In [ ]:
%%sql
SELECT DISTINCT product, unit_price
FROM transactions
WHERE product LIKE '%Latte%'
ORDER BY unit_price DESC;

### ðŸŽ¯ Your Turn: Exercise 2

Write a query to find all **Food** items that cost **between $2.00 and $4.00**. Show the product name and price.

In [ ]:
%%sql
-- YOUR CODE HERE

```{admonition} Solution
:class: dropdown

```sql
SELECT DISTINCT product, unit_price
FROM transactions
WHERE product_category = 'Food'
  AND unit_price BETWEEN 2.00 AND 4.00;
```
```

## Part 3: Sorting with ORDER BY

Let's organize our results!

### Example 7: Sort by Price (Descending)

Find the most expensive items:

In [ ]:
%%sql
SELECT DISTINCT 
    product,
    product_category,
    unit_price
FROM transactions
ORDER BY unit_price DESC
LIMIT 10;

### Example 8: Multiple Sort Columns

Sort by category (alphabetically), then by price (highest first):

In [ ]:
%%sql
SELECT DISTINCT 
    product_category,
    product,
    unit_price
FROM transactions
ORDER BY product_category ASC, unit_price DESC
LIMIT 15;

### ðŸŽ¯ Your Turn: Exercise 3

Write a query to find the **5 cheapest beverages**. Show the product name, type, and price.

In [ ]:
%%sql
-- YOUR CODE HERE

```{admonition} Solution
:class: dropdown

```sql
SELECT DISTINCT 
    product,
    product_type,
    unit_price
FROM transactions
WHERE product_category = 'Beverages'
ORDER BY unit_price ASC
LIMIT 5;
```
```

## Part 4: Finding Unique Values with DISTINCT

DISTINCT removes duplicate rows from our results.

### Example 9: Unique Categories

In [ ]:
%%sql
SELECT DISTINCT product_category
FROM transactions
ORDER BY product_category;

### Example 10: Unique Combinations

In [ ]:
%%sql
SELECT DISTINCT product_category, product_type
FROM transactions
ORDER BY product_category, product_type;

### ðŸŽ¯ Your Turn: Exercise 4

How many unique store cities are in our data? Write a query to find out.

In [ ]:
%%sql
-- YOUR CODE HERE

## Part 5: Challenge Exercises

Put it all together with these more complex queries!

### ðŸŽ¯ Challenge 1: Staff Sales

Find the 10 highest-value transactions, showing:
- Staff member name (first and last)
- Product sold
- Line item amount
- Store city

Sort by amount descending.

In [ ]:
%%sql
-- YOUR CODE HERE

### ðŸŽ¯ Challenge 2: Morning Coffee Rush

Coffee shops are busiest in the morning! Find all transactions:
- For coffee products (use LIKE to match '%coffee%' or '%Coffee%')
- Where quantity is 2 or more

Show the product, quantity, and time. Sort by quantity descending.

In [ ]:
%%sql
-- YOUR CODE HERE

### ðŸŽ¯ Challenge 3: Explore Your Own Questions!

Come up with your own question about the data and write a query to answer it. Some ideas:
- What products are sold in specific neighborhoods?
- What's the price range of different product types?
- Which staff members work at which stores?

In [ ]:
%%sql
-- YOUR EXPLORATION HERE
-- Question:

## Summary

Congratulations! You've practiced:

- âœ… Connecting to a database from Jupyter
- âœ… SELECT statements with specific columns
- âœ… Filtering with WHERE (=, >, <, BETWEEN, IN, LIKE)
- âœ… Sorting with ORDER BY (ASC and DESC)
- âœ… Limiting results with LIMIT
- âœ… Finding unique values with DISTINCT

**Next up:** [Creating and Modifying Tables](../chapters/06-creating-tables.md) with DDL statements!

---

## Bonus: Using Pandas with SQL

You can also run SQL queries and get results as a pandas DataFrame for further analysis:

In [ ]:
import pandas as pd

# Run a query and store results in a DataFrame
result = %sql SELECT product_category, product, unit_price FROM transactions LIMIT 20
df = result.DataFrame()

# Now you can use pandas!
df.describe()

In [ ]:
# Quick visualization
df.groupby('product_category')['unit_price'].mean().plot(kind='bar', title='Average Price by Category')