# Hands-On: DDL Practice

Welcome to the DDL (Data Definition Language) practice lab! In this notebook, you'll learn to create, modify, and manage database structures.

**Learning Goals:**

By completing this notebook, you will:
- Create tables with various data types
- Define primary keys and foreign keys
- Add constraints (NOT NULL, UNIQUE, CHECK, DEFAULT)
- Modify existing tables with ALTER TABLE
- Safely remove tables with DROP TABLE

---

## Part 0: Setup

### Step 1: Install Required Packages

Run this cell once. **After running, restart the kernel** (Kernel â†’ Restart).

In [ ]:
# Install required packages (run once, then restart kernel)
!pip install ipython-sql psycopg2-binary sqlalchemy 'prettytable<3.10'

### Step 2: Load SQL Extension

**âš ï¸ You MUST run this cell before any %%sql cells!**

In [ ]:
# Load the SQL extension - RUN THIS FIRST!
%load_ext sql

# Configure SQL magic for cleaner output
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = True
%config SqlMagic.style = 'PLAIN_COLUMNS'

print("âœ… SQL extension loaded successfully!")

### Step 3: Connect to PostgreSQL

**âš ï¸ Replace `yourpassword` with your actual PostgreSQL password.**

In [ ]:
# Connect to PostgreSQL - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/postgres

### Step 4: Create a Practice Database

We'll create a fresh database for this lab.

In [ ]:
%%sql
-- Drop if exists (for re-running this notebook)
DROP DATABASE IF EXISTS ddl_practice_db;

In [ ]:
%%sql
-- Create fresh database
CREATE DATABASE ddl_practice_db;

In [ ]:
# Connect to our new database - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/ddl_practice_db

---

## âœ… Setup Complete! Let's Create Tables!

---

## Part 1: PostgreSQL Data Types

Before creating tables, let's review common data types:

| Type | Description | Example |
|------|-------------|--------|
| `INTEGER` | Whole numbers | 42, -17 |
| `SERIAL` | Auto-incrementing integer | 1, 2, 3... |
| `DECIMAL(p,s)` | Exact decimal (p digits, s after decimal) | 19.99 |
| `VARCHAR(n)` | Variable text up to n characters | 'Hello' |
| `TEXT` | Unlimited text | Long descriptions |
| `DATE` | Date only | '2024-01-15' |
| `TIMESTAMP` | Date and time | '2024-01-15 14:30:00' |
| `BOOLEAN` | True/False | TRUE, FALSE |

---

## Part 2: CREATE TABLE Basics

### Example 1: Simple Table

Let's create a basic `categories` table.

In [ ]:
%%sql
CREATE TABLE categories (
    category_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    description TEXT
);

**What we did:**
- `SERIAL PRIMARY KEY` - Auto-incrementing ID that uniquely identifies each row
- `VARCHAR(50) NOT NULL` - Text up to 50 chars, required
- `TEXT` - Unlimited text, optional (no NOT NULL)

In [ ]:
%%sql
-- View table structure
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns
WHERE table_name = 'categories'
ORDER BY ordinal_position;

### Example 2: Table with Multiple Constraints

Now let's create a more complex `products` table.

In [ ]:
%%sql
CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    sku VARCHAR(20) UNIQUE,
    category_id INTEGER REFERENCES categories(category_id),
    price DECIMAL(10,2) NOT NULL CHECK (price > 0),
    stock_quantity INTEGER DEFAULT 0,
    is_available BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

**Constraints used:**
- `PRIMARY KEY` - Unique identifier
- `NOT NULL` - Value required
- `UNIQUE` - No duplicates allowed (SKU)
- `REFERENCES` - Foreign key to categories
- `CHECK` - Custom validation (price > 0)
- `DEFAULT` - Automatic value if not provided

### ðŸŽ¯ Exercise 1: Create a Customers Table

Create a `customers` table with:
- `customer_id` - Auto-incrementing primary key
- `first_name` - Required, up to 50 characters
- `last_name` - Required, up to 50 characters
- `email` - Required, unique, up to 100 characters
- `phone` - Optional, up to 20 characters
- `created_at` - Timestamp, defaults to current time

In [ ]:
%%sql
-- YOUR CODE HERE: Create the customers table

In [ ]:
%%sql
-- Verify your table structure
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns
WHERE table_name = 'customers'
ORDER BY ordinal_position;

---

## Part 3: Foreign Keys and Relationships

### Example 3: Table with Foreign Key

Let's create an `orders` table that references `customers`.

In [ ]:
%%sql
CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER NOT NULL,
    order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20) DEFAULT 'pending' 
        CHECK (status IN ('pending', 'processing', 'shipped', 'delivered', 'cancelled')),
    total DECIMAL(10,2),
    
    -- Foreign key constraint with name
    CONSTRAINT fk_customer 
        FOREIGN KEY (customer_id) 
        REFERENCES customers(customer_id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
);

**Foreign Key Options:**
- `ON DELETE RESTRICT` - Prevent deletion of customer if they have orders
- `ON UPDATE CASCADE` - If customer_id changes, update orders too

Other options: `SET NULL`, `SET DEFAULT`, `CASCADE`, `NO ACTION`

### Example 4: Junction Table (Many-to-Many)

An order can have many products, and a product can be in many orders. We need a junction table!

In [ ]:
%%sql
CREATE TABLE order_items (
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    unit_price DECIMAL(10,2) NOT NULL,
    
    -- Composite primary key
    PRIMARY KEY (order_id, product_id),
    
    -- Foreign keys
    FOREIGN KEY (order_id) REFERENCES orders(order_id) ON DELETE CASCADE,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE RESTRICT
);

**Key points:**
- **Composite Primary Key** - Both order_id AND product_id together identify each row
- `ON DELETE CASCADE` on order_id - If order is deleted, delete its items
- `ON DELETE RESTRICT` on product_id - Can't delete product if it's in any order

### ðŸŽ¯ Exercise 2: Create a Reviews Table

Create a `reviews` table with:
- `review_id` - Auto-incrementing primary key
- `product_id` - Foreign key to products (required)
- `customer_id` - Foreign key to customers (required)
- `rating` - Integer, required, must be between 1 and 5
- `comment` - Optional text
- `created_at` - Timestamp, defaults to current time

**Bonus:** Ensure each customer can only review each product once (hint: UNIQUE constraint on combination)

In [ ]:
%%sql
-- YOUR CODE HERE: Create the reviews table

---

## Part 4: ALTER TABLE - Modifying Tables

### Add a Column

In [ ]:
%%sql
-- Add a loyalty_points column to customers
ALTER TABLE customers
ADD COLUMN loyalty_points INTEGER DEFAULT 0;

In [ ]:
%%sql
-- Verify the column was added
SELECT column_name, data_type, column_default
FROM information_schema.columns
WHERE table_name = 'customers'
ORDER BY ordinal_position;

### Drop a Column

In [ ]:
%%sql
-- Remove a column
ALTER TABLE customers
DROP COLUMN IF EXISTS loyalty_points;

### Rename a Column

In [ ]:
%%sql
-- First add a column to rename
ALTER TABLE products
ADD COLUMN product_desc TEXT;

In [ ]:
%%sql
-- Rename the column
ALTER TABLE products
RENAME COLUMN product_desc TO description;

### Change Data Type

In [ ]:
%%sql
-- Change price to allow more decimal places
ALTER TABLE products
ALTER COLUMN price TYPE DECIMAL(12,4);

### Add/Drop Constraints

In [ ]:
%%sql
-- Add a CHECK constraint
ALTER TABLE products
ADD CONSTRAINT chk_stock_positive CHECK (stock_quantity >= 0);

In [ ]:
%%sql
-- Drop a constraint by name
ALTER TABLE products
DROP CONSTRAINT IF EXISTS chk_stock_positive;

### Set/Drop NOT NULL

In [ ]:
%%sql
-- Make description required
ALTER TABLE products
ALTER COLUMN description SET NOT NULL;

In [ ]:
%%sql
-- Make it optional again
ALTER TABLE products
ALTER COLUMN description DROP NOT NULL;

### ðŸŽ¯ Exercise 3: Modify the Products Table

Make the following changes to the `products` table:
1. Add a `weight` column (DECIMAL(8,2), optional)
2. Add a `discontinued` column (BOOLEAN, default FALSE)
3. Add a CHECK constraint named `chk_weight_positive` ensuring weight > 0 (when not null)

In [ ]:
%%sql
-- YOUR CODE HERE: Add weight column

In [ ]:
%%sql
-- YOUR CODE HERE: Add discontinued column

In [ ]:
%%sql
-- YOUR CODE HERE: Add check constraint for weight

In [ ]:
%%sql
-- Verify changes
SELECT column_name, data_type, is_nullable, column_default
FROM information_schema.columns
WHERE table_name = 'products'
ORDER BY ordinal_position;

---

## Part 5: DROP TABLE

### Basic DROP

In [ ]:
%%sql
-- Create a temporary table to drop
CREATE TABLE temp_table (
    id SERIAL PRIMARY KEY,
    data TEXT
);

In [ ]:
%%sql
-- Drop the table
DROP TABLE temp_table;

In [ ]:
%%sql
-- Safe drop (won't error if table doesn't exist)
DROP TABLE IF EXISTS temp_table;

### DROP with Dependencies

If a table is referenced by foreign keys, you need CASCADE.

In [ ]:
%%sql
-- This would fail if order_items references products:
-- DROP TABLE products;

-- Use CASCADE to also drop dependent objects:
-- DROP TABLE products CASCADE;

-- We won't actually run this - just demonstrating the syntax
SELECT 'CASCADE drops the table AND any objects that depend on it' AS note;

---

## Part 6: Testing Constraints

Let's insert some data and test that our constraints work!

In [ ]:
%%sql
-- Insert a category
INSERT INTO categories (name, description)
VALUES ('Beverages', 'Hot and cold drinks');

In [ ]:
%%sql
-- Insert a product (should work)
INSERT INTO products (name, sku, category_id, price, description)
VALUES ('Espresso', 'BEV-001', 1, 3.50, 'Strong Italian coffee');

In [ ]:
%%sql
-- Try to insert with negative price (should FAIL - CHECK constraint)
INSERT INTO products (name, sku, category_id, price)
VALUES ('Bad Product', 'BAD-001', 1, -5.00);

In [ ]:
%%sql
-- Try to insert duplicate SKU (should FAIL - UNIQUE constraint)
INSERT INTO products (name, sku, category_id, price)
VALUES ('Another Espresso', 'BEV-001', 1, 4.00);

In [ ]:
%%sql
-- Try to insert with invalid category (should FAIL - FOREIGN KEY constraint)
INSERT INTO products (name, sku, category_id, price)
VALUES ('Ghost Product', 'GHO-001', 999, 10.00);

In [ ]:
%%sql
-- Check what we have
SELECT * FROM products;

---

## ðŸ† Challenge Exercise: Build a Complete Schema

Create a schema for a **Library Management System** with the following tables:

### 1. `authors`
- author_id (PK, auto-increment)
- first_name (required, varchar 50)
- last_name (required, varchar 50)
- birth_year (integer, optional)

### 2. `books`
- book_id (PK, auto-increment)
- title (required, varchar 200)
- isbn (unique, varchar 20)
- author_id (FK to authors)
- publication_year (integer)
- genre (varchar 50)
- copies_available (integer, default 1, must be >= 0)

### 3. `members`
- member_id (PK, auto-increment)
- name (required, varchar 100)
- email (required, unique)
- membership_date (date, default current date)
- is_active (boolean, default true)

### 4. `loans`
- loan_id (PK, auto-increment)
- book_id (FK to books, required)
- member_id (FK to members, required)
- loan_date (date, default current date)
- due_date (date, required)
- return_date (date, optional)
- Ensure due_date > loan_date

In [ ]:
%%sql
-- YOUR CODE HERE: Create authors table

In [ ]:
%%sql
-- YOUR CODE HERE: Create books table

In [ ]:
%%sql
-- YOUR CODE HERE: Create members table

In [ ]:
%%sql
-- YOUR CODE HERE: Create loans table

In [ ]:
%%sql
-- Verify all tables were created
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public'
ORDER BY table_name;

---

## Summary

### CREATE TABLE
```sql
CREATE TABLE table_name (
    column_name TYPE CONSTRAINTS,
    ...
);
```

### Common Constraints
| Constraint | Purpose |
|------------|--------|
| `PRIMARY KEY` | Unique identifier |
| `FOREIGN KEY` | Reference another table |
| `NOT NULL` | Value required |
| `UNIQUE` | No duplicates |
| `CHECK` | Custom validation |
| `DEFAULT` | Auto value |

### ALTER TABLE
```sql
ALTER TABLE table_name
    ADD COLUMN col TYPE,
    DROP COLUMN col,
    RENAME COLUMN old TO new,
    ALTER COLUMN col TYPE new_type,
    ADD CONSTRAINT name CHECK (...),
    DROP CONSTRAINT name;
```

### DROP TABLE
```sql
DROP TABLE table_name;
DROP TABLE IF EXISTS table_name;
DROP TABLE table_name CASCADE;
```

---

**Congratulations!** You've completed the DDL practice lab. You can now create and modify database structures with confidence!