# Hands-On: JOINs, Subqueries, and Aggregation

In this notebook, you'll practice combining data from multiple tables and performing complex queries.

**Learning Goals:**

- Master INNER, LEFT, RIGHT, and FULL JOINs
- Write subqueries in WHERE, SELECT, and FROM clauses
- Use aggregate functions with GROUP BY and HAVING
- Combine these techniques for real-world analysis

---

## Part 0: Setup

### Step 1: Install Required Packages

Run this cell once. **After running, restart the kernel** (Kernel â†’ Restart).

In [ ]:
# Install required packages (run once, then restart kernel)
!pip install ipython-sql psycopg2-binary sqlalchemy 'prettytable<3.10'

### Step 2: Load SQL Extension

**âš ï¸ You MUST run this cell before any %%sql cells!**

In [ ]:
# Load the SQL extension - RUN THIS FIRST!
%load_ext sql

# Configure SQL magic
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = True
%config SqlMagic.style = 'PLAIN_COLUMNS'

print("âœ… SQL extension loaded successfully!")

### Step 3: Connect to PostgreSQL

**âš ï¸ Replace `yourpassword` with your actual PostgreSQL password.**

In [ ]:
# Connect to PostgreSQL - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/postgres

### Step 4: Create Practice Database with Sample Data

In [ ]:
%%sql
DROP DATABASE IF EXISTS joins_practice_db;

In [ ]:
%%sql
CREATE DATABASE joins_practice_db;

In [ ]:
# Connect to our new database - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/joins_practice_db

### Step 5: Create Tables and Load Sample Data

In [ ]:
%%sql
-- Create categories table
CREATE TABLE categories (
    category_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    description TEXT
);

-- Create products table
CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    category_id INTEGER REFERENCES categories(category_id),
    price DECIMAL(10,2) NOT NULL,
    cost DECIMAL(10,2),
    stock_quantity INTEGER DEFAULT 0
);

-- Create customers table
CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    city VARCHAR(50),
    join_date DATE DEFAULT CURRENT_DATE
);

-- Create employees table
CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    position VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10,2),
    manager_id INTEGER REFERENCES employees(employee_id)
);

-- Create orders table
CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER REFERENCES customers(customer_id),
    employee_id INTEGER REFERENCES employees(employee_id),
    order_date DATE DEFAULT CURRENT_DATE,
    total DECIMAL(10,2)
);

-- Create order_items table
CREATE TABLE order_items (
    order_id INTEGER REFERENCES orders(order_id),
    product_id INTEGER REFERENCES products(product_id),
    quantity INTEGER NOT NULL,
    unit_price DECIMAL(10,2) NOT NULL,
    PRIMARY KEY (order_id, product_id)
);

In [ ]:
%%sql
-- Insert categories
INSERT INTO categories (name, description) VALUES
('Beverages', 'Hot and cold drinks'),
('Pastries', 'Fresh baked goods'),
('Sandwiches', 'Fresh made sandwiches'),
('Merchandise', 'Coffee mugs, beans, etc.');

-- Insert products
INSERT INTO products (name, category_id, price, cost, stock_quantity) VALUES
('Espresso', 1, 2.50, 0.50, 100),
('Cappuccino', 1, 4.00, 0.80, 100),
('Latte', 1, 4.50, 0.90, 100),
('Mocha', 1, 5.00, 1.20, 80),
('Cold Brew', 1, 4.00, 0.60, 50),
('Croissant', 2, 3.50, 1.00, 30),
('Blueberry Muffin', 2, 3.00, 0.80, 25),
('Chocolate Chip Cookie', 2, 2.00, 0.40, 40),
('Ham & Cheese Panini', 3, 8.00, 3.00, 15),
('Turkey Club', 3, 9.00, 3.50, 12),
('Coffee Mug', 4, 15.00, 5.00, 20),
('Coffee Beans (1lb)', 4, 18.00, 8.00, 30),
('Green Tea', 1, 3.00, 0.40, 60),
('Bagel', 2, 2.50, 0.60, 35);

-- Insert customers
INSERT INTO customers (first_name, last_name, email, city, join_date) VALUES
('Alice', 'Johnson', 'alice@email.com', 'Chicago', '2023-01-15'),
('Bob', 'Smith', 'bob@email.com', 'Chicago', '2023-02-20'),
('Carol', 'Williams', 'carol@email.com', 'Evanston', '2023-03-10'),
('David', 'Brown', 'david@email.com', 'Oak Park', '2023-04-05'),
('Emma', 'Davis', 'emma@email.com', 'Chicago', '2023-05-12'),
('Frank', 'Miller', 'frank@email.com', 'Skokie', '2023-06-18'),
('Grace', 'Wilson', 'grace@email.com', 'Evanston', '2023-07-22'),
('Henry', 'Moore', 'henry@email.com', 'Chicago', '2023-08-30'),
('Ivy', 'Taylor', 'ivy@email.com', 'Oak Park', '2024-01-10'),
('Jack', 'Anderson', 'jack@email.com', 'Chicago', '2024-02-14');

-- Insert employees
INSERT INTO employees (first_name, last_name, position, hire_date, salary, manager_id) VALUES
('Sarah', 'Connor', 'Store Manager', '2020-01-10', 65000, NULL),
('John', 'Reese', 'Shift Supervisor', '2021-03-15', 45000, 1),
('Kyle', 'Barnes', 'Barista', '2022-06-01', 35000, 2),
('Lisa', 'Chen', 'Barista', '2022-08-15', 35000, 2),
('Mike', 'Ross', 'Shift Supervisor', '2021-09-01', 45000, 1),
('Nina', 'Patel', 'Barista', '2023-01-20', 34000, 5);

-- Insert orders
INSERT INTO orders (customer_id, employee_id, order_date, total) VALUES
(1, 3, '2024-01-15', 12.50),
(1, 4, '2024-01-20', 8.00),
(2, 3, '2024-01-18', 25.00),
(3, 6, '2024-01-19', 6.50),
(1, 3, '2024-01-25', 15.00),
(4, 4, '2024-01-22', 18.00),
(5, 6, '2024-01-23', 9.50),
(2, 3, '2024-01-28', 22.00),
(6, 4, '2024-02-01', 11.00),
(7, 6, '2024-02-03', 7.50),
(1, 3, '2024-02-05', 30.00),
(3, 4, '2024-02-08', 14.00),
(8, 6, '2024-02-10', 8.50),
(5, 3, '2024-02-12', 19.00),
(2, 4, '2024-02-15', 45.00);

-- Insert order items
INSERT INTO order_items (order_id, product_id, quantity, unit_price) VALUES
(1, 1, 2, 2.50), (1, 6, 2, 3.50),
(2, 3, 1, 4.50), (2, 7, 1, 3.00),
(3, 4, 2, 5.00), (3, 9, 1, 8.00), (3, 8, 3, 2.00),
(4, 2, 1, 4.00), (4, 14, 1, 2.50),
(5, 3, 2, 4.50), (5, 6, 1, 3.50), (5, 8, 1, 2.00),
(6, 11, 1, 15.00), (6, 7, 1, 3.00),
(7, 5, 1, 4.00), (7, 6, 1, 3.50), (7, 8, 1, 2.00),
(8, 12, 1, 18.00), (8, 2, 1, 4.00),
(9, 3, 2, 4.50), (9, 8, 1, 2.00),
(10, 13, 1, 3.00), (10, 7, 1, 3.00),
(11, 12, 1, 18.00), (11, 4, 2, 5.00), (11, 6, 1, 3.50),
(12, 9, 1, 8.00), (12, 5, 1, 4.00), (12, 8, 1, 2.00),
(13, 1, 2, 2.50), (13, 14, 1, 2.50),
(14, 10, 1, 9.00), (14, 3, 2, 4.50),
(15, 12, 2, 18.00), (15, 4, 1, 5.00), (15, 6, 1, 3.50);

In [ ]:
%%sql
-- Verify our data
SELECT 'categories' AS table_name, COUNT(*) AS rows FROM categories
UNION ALL SELECT 'products', COUNT(*) FROM products
UNION ALL SELECT 'customers', COUNT(*) FROM customers
UNION ALL SELECT 'employees', COUNT(*) FROM employees
UNION ALL SELECT 'orders', COUNT(*) FROM orders
UNION ALL SELECT 'order_items', COUNT(*) FROM order_items;

---

## âœ… Setup Complete! Let's Practice JOINs!

---

## Part 1: INNER JOIN

**INNER JOIN** returns only rows that have matching values in BOTH tables.

```
    Table A          Table B
   â”Œâ”€â”€â”€â”€â”€â”          â”Œâ”€â”€â”€â”€â”€â”
   â”‚     â”‚          â”‚     â”‚
   â”‚  â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ â”‚  â† Only matching rows
   â”‚     â”‚          â”‚     â”‚
   â””â”€â”€â”€â”€â”€â”˜          â””â”€â”€â”€â”€â”€â”˜
```

### Example: Products with Category Names

In [ ]:
%%sql
SELECT 
    p.name AS product,
    p.price,
    c.name AS category
FROM products p
INNER JOIN categories c ON p.category_id = c.category_id
ORDER BY c.name, p.name;

### Example: Orders with Customer and Employee Info

In [ ]:
%%sql
SELECT 
    o.order_id,
    o.order_date,
    c.first_name || ' ' || c.last_name AS customer,
    e.first_name AS served_by,
    o.total
FROM orders o
INNER JOIN customers c ON o.customer_id = c.customer_id
INNER JOIN employees e ON o.employee_id = e.employee_id
ORDER BY o.order_date DESC
LIMIT 10;

### ðŸŽ¯ Exercise 1.1: Order Details

Write a query that shows:
- Order ID
- Product name
- Quantity
- Unit price
- Line total (quantity Ã— unit_price)

Order by order_id, then product name.

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Part 2: LEFT JOIN

**LEFT JOIN** returns ALL rows from the left table, plus matching rows from the right.
Non-matching rows show NULL for the right table's columns.

```
    Table A          Table B
   â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
   â”‚ â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ â”‚
   â”‚ All A    â”‚ Matching B â”‚
   â”‚ â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ â”‚
   â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### Example: All Customers, Even Without Orders

In [ ]:
%%sql
SELECT 
    c.first_name || ' ' || c.last_name AS customer,
    c.join_date,
    COUNT(o.order_id) AS order_count
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name, c.join_date
ORDER BY order_count DESC;

### Example: Find Customers Who Haven't Ordered

In [ ]:
%%sql
SELECT 
    c.first_name || ' ' || c.last_name AS customer,
    c.email,
    c.join_date
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
WHERE o.order_id IS NULL;

### ðŸŽ¯ Exercise 2.1: Products Never Sold

Find all products that have never been ordered. Show:
- Product name
- Category name
- Price
- Stock quantity

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Part 3: Self JOIN

A **Self JOIN** joins a table to itself. Useful for hierarchical data.

### Example: Employees with Their Managers

In [ ]:
%%sql
SELECT 
    e.first_name || ' ' || e.last_name AS employee,
    e.position,
    m.first_name || ' ' || m.last_name AS manager
FROM employees e
LEFT JOIN employees m ON e.manager_id = m.employee_id
ORDER BY m.first_name NULLS FIRST, e.first_name;

### ðŸŽ¯ Exercise 3.1: Customers in Same City

Find pairs of customers who live in the same city. Show:
- Customer 1 name
- Customer 2 name
- City

**Hint:** Join customers to itself on city, and use `c1.customer_id < c2.customer_id` to avoid duplicates.

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Part 4: Subqueries

A **subquery** is a query nested inside another query.

### 4.1 Scalar Subquery (Returns Single Value)

In [ ]:
%%sql
-- Products priced above average
SELECT name, price
FROM products
WHERE price > (SELECT AVG(price) FROM products)
ORDER BY price DESC;

In [ ]:
%%sql
-- Most expensive product
SELECT name, price
FROM products
WHERE price = (SELECT MAX(price) FROM products);

### 4.2 Column Subquery with IN

In [ ]:
%%sql
-- Customers who have placed orders
SELECT first_name, last_name, email
FROM customers
WHERE customer_id IN (
    SELECT DISTINCT customer_id FROM orders
);

In [ ]:
%%sql
-- Products in Beverages or Pastries categories
SELECT name, price
FROM products
WHERE category_id IN (
    SELECT category_id 
    FROM categories 
    WHERE name IN ('Beverages', 'Pastries')
)
ORDER BY price;

### 4.3 EXISTS Subquery

In [ ]:
%%sql
-- Customers who have ordered Espresso
SELECT c.first_name, c.last_name
FROM customers c
WHERE EXISTS (
    SELECT 1 
    FROM orders o
    JOIN order_items oi ON o.order_id = oi.order_id
    JOIN products p ON oi.product_id = p.product_id
    WHERE o.customer_id = c.customer_id
      AND p.name = 'Espresso'
);

### 4.4 Subquery in SELECT (Correlated)

In [ ]:
%%sql
-- Each product with its category's average price
SELECT 
    p.name,
    p.price,
    (SELECT AVG(p2.price) 
     FROM products p2 
     WHERE p2.category_id = p.category_id) AS category_avg_price
FROM products p
ORDER BY p.category_id, p.price DESC;

### 4.5 Subquery in FROM (Derived Table)

In [ ]:
%%sql
-- Top spending customers
SELECT 
    customer_name,
    total_spent,
    order_count
FROM (
    SELECT 
        c.first_name || ' ' || c.last_name AS customer_name,
        SUM(o.total) AS total_spent,
        COUNT(o.order_id) AS order_count
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
) AS customer_totals
WHERE total_spent > 20
ORDER BY total_spent DESC;

### ðŸŽ¯ Exercise 4.1: Products Above Category Average

Find products whose price is above their category's average. Show:
- Product name
- Category name
- Price
- Category average price (rounded to 2 decimals)

In [ ]:
%%sql
-- YOUR CODE HERE

### ðŸŽ¯ Exercise 4.2: Second Highest Price

Find the product(s) with the second highest price.

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Part 5: Aggregation with GROUP BY

### Common Aggregate Functions

| Function | Purpose |
|----------|--------|
| `COUNT(*)` | Number of rows |
| `COUNT(col)` | Non-NULL values |
| `SUM(col)` | Total |
| `AVG(col)` | Average |
| `MIN(col)` | Minimum |
| `MAX(col)` | Maximum |

### Example: Sales by Category

In [ ]:
%%sql
SELECT 
    c.name AS category,
    COUNT(DISTINCT oi.order_id) AS orders,
    SUM(oi.quantity) AS units_sold,
    ROUND(SUM(oi.quantity * oi.unit_price)::numeric, 2) AS revenue
FROM categories c
JOIN products p ON c.category_id = p.category_id
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY c.category_id, c.name
ORDER BY revenue DESC;

### Example: Monthly Sales

In [ ]:
%%sql
SELECT 
    TO_CHAR(order_date, 'YYYY-MM') AS month,
    COUNT(*) AS order_count,
    ROUND(SUM(total)::numeric, 2) AS total_revenue,
    ROUND(AVG(total)::numeric, 2) AS avg_order_value
FROM orders
GROUP BY TO_CHAR(order_date, 'YYYY-MM')
ORDER BY month;

### Example: HAVING to Filter Groups

In [ ]:
%%sql
-- Categories with more than $40 in sales
SELECT 
    c.name AS category,
    ROUND(SUM(oi.quantity * oi.unit_price)::numeric, 2) AS revenue
FROM categories c
JOIN products p ON c.category_id = p.category_id
JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY c.category_id, c.name
HAVING SUM(oi.quantity * oi.unit_price) > 40
ORDER BY revenue DESC;

### ðŸŽ¯ Exercise 5.1: Top Products by Revenue

Find the top 5 products by revenue. Show:
- Product name
- Units sold
- Total revenue

In [ ]:
%%sql
-- YOUR CODE HERE

### ðŸŽ¯ Exercise 5.2: Employee Performance

Show each employee's sales performance:
- Employee name
- Position
- Number of orders processed
- Total sales amount

Only include employees who have processed at least 3 orders.

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Part 6: Combining Techniques

### Example: Complete Order Report

In [ ]:
%%sql
SELECT 
    o.order_id,
    o.order_date,
    c.first_name || ' ' || c.last_name AS customer,
    c.city,
    e.first_name AS employee,
    COUNT(oi.product_id) AS items,
    ROUND(SUM(oi.quantity * oi.unit_price)::numeric, 2) AS calculated_total
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN employees e ON o.employee_id = e.employee_id
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY o.order_id, o.order_date, c.first_name, c.last_name, c.city, e.first_name
ORDER BY o.order_date DESC;

### Example: Customer Purchase Summary with Ranking

In [ ]:
%%sql
SELECT 
    c.first_name || ' ' || c.last_name AS customer,
    c.city,
    COUNT(DISTINCT o.order_id) AS orders,
    ROUND(SUM(o.total)::numeric, 2) AS total_spent,
    ROUND(AVG(o.total)::numeric, 2) AS avg_order,
    CASE 
        WHEN SUM(o.total) >= 50 THEN 'Gold'
        WHEN SUM(o.total) >= 25 THEN 'Silver'
        ELSE 'Bronze'
    END AS customer_tier
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name, c.city
ORDER BY total_spent DESC;

---

## ðŸ† Challenge Exercises

### Challenge 1: Product Profitability Report

Create a report showing:
- Product name
- Category
- Price and Cost
- Profit margin percentage: ((price - cost) / price) Ã— 100
- Units sold
- Total profit: (price - cost) Ã— units_sold

Only show products that have been sold. Order by total profit descending.

In [ ]:
%%sql
-- YOUR CODE HERE

### Challenge 2: Customer Cohort Analysis

Group customers by their join month and show:
- Join month (YYYY-MM format)
- Number of customers who joined
- Number who have placed orders
- Total revenue from that cohort
- Average revenue per customer in cohort

In [ ]:
%%sql
-- YOUR CODE HERE

### Challenge 3: Market Basket Analysis

Find products that are frequently bought together. Show pairs of products that appear in the same order at least twice.

**Hint:** Self-join order_items on order_id, with product_id inequality to avoid duplicates.

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Summary

### JOINs

| JOIN Type | Returns |
|-----------|--------|
| INNER JOIN | Only matching rows |
| LEFT JOIN | All left + matching right |
| RIGHT JOIN | Matching left + all right |
| FULL JOIN | All from both tables |
| Self JOIN | Table joined to itself |

### Subqueries

| Location | Returns | Use With |
|----------|---------|----------|
| WHERE | Single value | =, >, < |
| WHERE | List | IN, NOT IN |
| WHERE | Boolean | EXISTS |
| SELECT | Single value | Correlated |
| FROM | Table | Derived table |

### Aggregation

```sql
SELECT columns, AGG(column)
FROM tables
WHERE row_filter
GROUP BY columns
HAVING group_filter
ORDER BY columns;
```

---

**Excellent work!** You've mastered JOINs, subqueries, and aggregation - the core techniques for complex SQL queries!