# Hands-On: Advanced SQL Practice

In this notebook, you'll practice advanced SQL features including views, indexes, transactions, and stored procedures.

**Learning Goals:**

- Create and use views for simplified querying
- Understand indexes and query optimization
- Work with transactions and ACID properties
- Write functions and stored procedures
- Use Common Table Expressions (CTEs)
- Apply window functions for analytics

---

## Part 0: Setup

### Step 1: Install Required Packages

Run this cell once. **After running, restart the kernel** (Kernel ‚Üí Restart).

In [ ]:
# Install required packages (run once, then restart kernel)
!pip install ipython-sql psycopg2-binary sqlalchemy 'prettytable<3.10'

### Step 2: Load SQL Extension

**‚ö†Ô∏è You MUST run this cell before any %%sql cells!**

In [ ]:
# Load the SQL extension - RUN THIS FIRST!
%load_ext sql

# Configure SQL magic
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = True
%config SqlMagic.style = 'PLAIN_COLUMNS'

print("‚úÖ SQL extension loaded successfully!")

### Step 3: Connect to PostgreSQL

**‚ö†Ô∏è Replace `yourpassword` with your actual PostgreSQL password.**

In [ ]:
# Connect to PostgreSQL - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/postgres

### Step 4: Create Practice Database

In [ ]:
%%sql
DROP DATABASE IF EXISTS advanced_practice_db;

In [ ]:
%%sql
CREATE DATABASE advanced_practice_db;

In [ ]:
# Connect to our new database - UPDATE PASSWORD!
%sql postgresql://postgres:yourpassword@localhost/advanced_practice_db

### Step 5: Create Tables and Load Sample Data

In [ ]:
%%sql
-- Create tables
CREATE TABLE categories (
    category_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    description TEXT
);

CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    category_id INTEGER REFERENCES categories(category_id),
    price DECIMAL(10,2) NOT NULL,
    cost DECIMAL(10,2),
    stock_quantity INTEGER DEFAULT 0,
    reorder_level INTEGER DEFAULT 10,
    is_active BOOLEAN DEFAULT TRUE
);

CREATE TABLE customers (
    customer_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    city VARCHAR(50),
    loyalty_points INTEGER DEFAULT 0,
    join_date DATE DEFAULT CURRENT_DATE
);

CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    position VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10,2),
    manager_id INTEGER REFERENCES employees(employee_id)
);

CREATE TABLE orders (
    order_id SERIAL PRIMARY KEY,
    customer_id INTEGER REFERENCES customers(customer_id),
    employee_id INTEGER REFERENCES employees(employee_id),
    order_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20) DEFAULT 'pending',
    total DECIMAL(10,2)
);

CREATE TABLE order_items (
    order_id INTEGER REFERENCES orders(order_id) ON DELETE CASCADE,
    product_id INTEGER REFERENCES products(product_id),
    quantity INTEGER NOT NULL CHECK (quantity > 0),
    unit_price DECIMAL(10,2) NOT NULL,
    PRIMARY KEY (order_id, product_id)
);

CREATE TABLE inventory_log (
    log_id SERIAL PRIMARY KEY,
    product_id INTEGER REFERENCES products(product_id),
    change_quantity INTEGER NOT NULL,
    change_type VARCHAR(20) NOT NULL,
    change_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    notes TEXT
);

In [ ]:
%%sql
-- Insert sample data
INSERT INTO categories (name, description) VALUES
('Beverages', 'Hot and cold drinks'),
('Pastries', 'Fresh baked goods'),
('Sandwiches', 'Made to order'),
('Merchandise', 'Coffee accessories');

INSERT INTO products (name, category_id, price, cost, stock_quantity, reorder_level) VALUES
('Espresso', 1, 2.50, 0.50, 100, 20),
('Cappuccino', 1, 4.00, 0.80, 100, 20),
('Latte', 1, 4.50, 0.90, 80, 20),
('Mocha', 1, 5.00, 1.20, 60, 15),
('Cold Brew', 1, 4.00, 0.60, 40, 15),
('Croissant', 2, 3.50, 1.00, 25, 10),
('Blueberry Muffin', 2, 3.00, 0.80, 20, 10),
('Chocolate Chip Cookie', 2, 2.00, 0.40, 35, 15),
('Ham & Cheese Panini', 3, 8.00, 3.00, 12, 5),
('Turkey Club', 3, 9.00, 3.50, 10, 5),
('Veggie Wrap', 3, 7.50, 2.50, 8, 5),
('Coffee Mug', 4, 15.00, 5.00, 30, 10),
('Coffee Beans (1lb)', 4, 18.00, 8.00, 25, 10),
('Green Tea', 1, 3.00, 0.40, 50, 15),
('Bagel', 2, 2.50, 0.60, 30, 15);

INSERT INTO customers (first_name, last_name, email, city, loyalty_points, join_date) VALUES
('Alice', 'Johnson', 'alice@email.com', 'Chicago', 150, '2023-01-15'),
('Bob', 'Smith', 'bob@email.com', 'Chicago', 280, '2023-02-20'),
('Carol', 'Williams', 'carol@email.com', 'Evanston', 95, '2023-03-10'),
('David', 'Brown', 'david@email.com', 'Oak Park', 200, '2023-04-05'),
('Emma', 'Davis', 'emma@email.com', 'Chicago', 175, '2023-05-12'),
('Frank', 'Miller', 'frank@email.com', 'Skokie', 50, '2023-06-18'),
('Grace', 'Wilson', 'grace@email.com', 'Evanston', 320, '2023-07-22'),
('Henry', 'Moore', 'henry@email.com', 'Chicago', 85, '2023-08-30'),
('Ivy', 'Taylor', 'ivy@email.com', 'Oak Park', 0, '2024-01-10'),
('Jack', 'Anderson', 'jack@email.com', 'Chicago', 25, '2024-02-14');

INSERT INTO employees (first_name, last_name, email, position, hire_date, salary, manager_id) VALUES
('Sarah', 'Connor', 'sarah@coffee.com', 'Store Manager', '2020-01-10', 65000, NULL),
('John', 'Reese', 'john@coffee.com', 'Shift Supervisor', '2021-03-15', 45000, 1),
('Kyle', 'Barnes', 'kyle@coffee.com', 'Barista', '2022-06-01', 35000, 2),
('Lisa', 'Chen', 'lisa@coffee.com', 'Barista', '2022-08-15', 35000, 2),
('Mike', 'Ross', 'mike@coffee.com', 'Shift Supervisor', '2021-09-01', 45000, 1),
('Nina', 'Patel', 'nina@coffee.com', 'Barista', '2023-01-20', 34000, 5);

In [ ]:
%%sql
-- Insert orders and order items
INSERT INTO orders (customer_id, employee_id, order_date, status, total) VALUES
(1, 3, '2024-01-15 09:30:00', 'completed', 12.50),
(1, 4, '2024-01-20 10:15:00', 'completed', 8.00),
(2, 3, '2024-01-18 08:45:00', 'completed', 25.00),
(3, 6, '2024-01-19 14:20:00', 'completed', 6.50),
(1, 3, '2024-01-25 11:00:00', 'completed', 15.00),
(4, 4, '2024-01-22 09:00:00', 'completed', 18.00),
(5, 6, '2024-01-23 13:30:00', 'completed', 9.50),
(2, 3, '2024-01-28 10:45:00', 'completed', 22.00),
(6, 4, '2024-02-01 08:30:00', 'completed', 11.00),
(7, 6, '2024-02-03 15:00:00', 'completed', 7.50),
(1, 3, '2024-02-05 09:15:00', 'completed', 30.00),
(3, 4, '2024-02-08 11:30:00', 'completed', 14.00),
(8, 6, '2024-02-10 10:00:00', 'completed', 8.50),
(5, 3, '2024-02-12 14:45:00', 'completed', 19.00),
(2, 4, '2024-02-15 09:30:00', 'completed', 45.00),
(7, 3, '2024-02-18 10:00:00', 'pending', 22.50),
(4, 6, '2024-02-20 13:15:00', 'pending', 16.00);

INSERT INTO order_items (order_id, product_id, quantity, unit_price) VALUES
(1, 1, 2, 2.50), (1, 6, 2, 3.50),
(2, 3, 1, 4.50), (2, 7, 1, 3.00),
(3, 4, 2, 5.00), (3, 9, 1, 8.00), (3, 8, 3, 2.00),
(4, 2, 1, 4.00), (4, 15, 1, 2.50),
(5, 3, 2, 4.50), (5, 6, 1, 3.50), (5, 8, 1, 2.00),
(6, 12, 1, 15.00), (6, 7, 1, 3.00),
(7, 5, 1, 4.00), (7, 6, 1, 3.50), (7, 8, 1, 2.00),
(8, 13, 1, 18.00), (8, 2, 1, 4.00),
(9, 3, 2, 4.50), (9, 8, 1, 2.00),
(10, 14, 1, 3.00), (10, 7, 1, 3.00),
(11, 13, 1, 18.00), (11, 4, 2, 5.00), (11, 6, 1, 3.50),
(12, 9, 1, 8.00), (12, 5, 1, 4.00), (12, 8, 1, 2.00),
(13, 1, 2, 2.50), (13, 15, 1, 2.50),
(14, 10, 1, 9.00), (14, 3, 2, 4.50),
(15, 13, 2, 18.00), (15, 4, 1, 5.00), (15, 6, 1, 3.50),
(16, 3, 3, 4.50), (16, 6, 2, 3.50), (16, 8, 2, 2.00),
(17, 9, 1, 8.00), (17, 2, 2, 4.00);

In [ ]:
%%sql
-- Verify data loaded
SELECT 'categories' AS table_name, COUNT(*) AS rows FROM categories
UNION ALL SELECT 'products', COUNT(*) FROM products
UNION ALL SELECT 'customers', COUNT(*) FROM customers
UNION ALL SELECT 'employees', COUNT(*) FROM employees
UNION ALL SELECT 'orders', COUNT(*) FROM orders
UNION ALL SELECT 'order_items', COUNT(*) FROM order_items;

---

## ‚úÖ Setup Complete! Let's Practice Advanced SQL!

---

## Part 1: Views

A **view** is a saved query that acts like a virtual table.

### Creating Views

In [ ]:
%%sql
-- View: Product details with category
CREATE OR REPLACE VIEW v_product_details AS
SELECT 
    p.product_id,
    p.name AS product_name,
    c.name AS category,
    p.price,
    p.cost,
    ROUND((p.price - p.cost)::numeric, 2) AS profit,
    ROUND(((p.price - p.cost) / p.price * 100)::numeric, 1) AS margin_pct,
    p.stock_quantity,
    p.reorder_level,
    CASE WHEN p.stock_quantity <= p.reorder_level THEN 'Yes' ELSE 'No' END AS needs_reorder
FROM products p
JOIN categories c ON p.category_id = c.category_id
WHERE p.is_active = TRUE;

In [ ]:
%%sql
-- Use the view like a table
SELECT * FROM v_product_details
ORDER BY margin_pct DESC;

In [ ]:
%%sql
-- View: Order summary
CREATE OR REPLACE VIEW v_order_summary AS
SELECT 
    o.order_id,
    o.order_date,
    c.first_name || ' ' || c.last_name AS customer_name,
    c.email AS customer_email,
    e.first_name || ' ' || e.last_name AS employee_name,
    o.status,
    COUNT(oi.product_id) AS item_count,
    SUM(oi.quantity) AS total_items,
    o.total
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
JOIN employees e ON o.employee_id = e.employee_id
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY o.order_id, o.order_date, c.first_name, c.last_name, c.email,
         e.first_name, e.last_name, o.status, o.total;

In [ ]:
%%sql
-- Query the order summary view
SELECT * FROM v_order_summary
WHERE status = 'completed'
ORDER BY order_date DESC
LIMIT 10;

In [ ]:
%%sql
-- View: Customer statistics
CREATE OR REPLACE VIEW v_customer_stats AS
SELECT 
    c.customer_id,
    c.first_name || ' ' || c.last_name AS customer_name,
    c.city,
    c.loyalty_points,
    c.join_date,
    COUNT(o.order_id) AS total_orders,
    COALESCE(SUM(o.total), 0) AS total_spent,
    COALESCE(ROUND(AVG(o.total)::numeric, 2), 0) AS avg_order_value,
    MAX(o.order_date) AS last_order_date
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name, c.city, c.loyalty_points, c.join_date;

In [ ]:
%%sql
SELECT * FROM v_customer_stats
ORDER BY total_spent DESC;

### üéØ Exercise 1.1: Create a Sales Dashboard View

Create a view called `v_daily_sales` that shows:
- Order date (date only, not timestamp)
- Number of orders
- Total revenue
- Average order value
- Number of unique customers

In [ ]:
%%sql
-- YOUR CODE HERE: Create v_daily_sales view

In [ ]:
%%sql
-- Test your view
SELECT * FROM v_daily_sales ORDER BY order_date;

### Managing Views

In [ ]:
%%sql
-- List all views
SELECT table_name AS view_name
FROM information_schema.views
WHERE table_schema = 'public';

In [ ]:
%%sql
-- View definition
SELECT pg_get_viewdef('v_product_details', true);

---

## Part 2: Indexes

**Indexes** speed up queries by creating optimized data structures.

### Creating Indexes

In [ ]:
%%sql
-- Index on frequently queried column
CREATE INDEX idx_orders_customer ON orders(customer_id);

-- Index on order date for date range queries
CREATE INDEX idx_orders_date ON orders(order_date);

-- Index on product category for filtering
CREATE INDEX idx_products_category ON products(category_id);

-- Composite index for common query pattern
CREATE INDEX idx_orders_status_date ON orders(status, order_date);

In [ ]:
%%sql
-- List indexes on orders table
SELECT indexname, indexdef
FROM pg_indexes
WHERE tablename = 'orders';

### Using EXPLAIN to Analyze Queries

In [ ]:
%%sql
-- Show query execution plan
EXPLAIN SELECT * FROM orders WHERE customer_id = 1;

In [ ]:
%%sql
-- More detailed analysis with EXPLAIN ANALYZE
EXPLAIN ANALYZE SELECT * FROM orders WHERE customer_id = 1;

In [ ]:
%%sql
-- Compare: query using composite index
EXPLAIN ANALYZE 
SELECT * FROM orders 
WHERE status = 'completed' AND order_date >= '2024-02-01';

### üéØ Exercise 2.1: Create Appropriate Indexes

Based on the query below, create an appropriate index to optimize it:

```sql
SELECT * FROM customers WHERE city = 'Chicago' AND loyalty_points > 100;
```

In [ ]:
%%sql
-- YOUR CODE HERE: Create the index

In [ ]:
%%sql
-- Test with EXPLAIN
EXPLAIN SELECT * FROM customers WHERE city = 'Chicago' AND loyalty_points > 100;

---

## Part 3: Transactions

**Transactions** group operations that must succeed or fail together.

### Transaction Basics

In [ ]:
%%sql
-- Check current stock
SELECT product_id, name, stock_quantity 
FROM products 
WHERE product_id IN (1, 2);

In [ ]:
%%sql
-- Transaction example: Transfer stock between products
BEGIN;

-- Reduce stock from product 1
UPDATE products SET stock_quantity = stock_quantity - 10 WHERE product_id = 1;

-- Check intermediate state
SELECT product_id, name, stock_quantity FROM products WHERE product_id IN (1, 2);

In [ ]:
%%sql
-- Rollback to undo changes
ROLLBACK;

-- Verify rollback
SELECT product_id, name, stock_quantity FROM products WHERE product_id IN (1, 2);

In [ ]:
%%sql
-- Transaction with COMMIT
BEGIN;

-- Simulate processing an order
UPDATE products SET stock_quantity = stock_quantity - 2 WHERE product_id = 1;

-- Log the inventory change
INSERT INTO inventory_log (product_id, change_quantity, change_type, notes)
VALUES (1, -2, 'sale', 'Order processing');

COMMIT;

SELECT product_id, name, stock_quantity FROM products WHERE product_id = 1;

In [ ]:
%%sql
-- View inventory log
SELECT * FROM inventory_log;

### SAVEPOINT for Partial Rollback

In [ ]:
%%sql
BEGIN;

-- First update
UPDATE products SET stock_quantity = stock_quantity + 10 WHERE product_id = 6;
SAVEPOINT after_croissant;

-- Second update (we might want to undo this)
UPDATE products SET stock_quantity = stock_quantity + 10 WHERE product_id = 7;

-- Oops, rollback just the muffin update
ROLLBACK TO SAVEPOINT after_croissant;

-- Commit the croissant update only
COMMIT;

SELECT product_id, name, stock_quantity 
FROM products 
WHERE product_id IN (6, 7);

---

## Part 4: Functions and Stored Procedures

**Functions** return values; **Procedures** perform actions.

### Creating Functions

In [ ]:
%%sql
-- Function: Calculate order total with optional discount
CREATE OR REPLACE FUNCTION calc_discounted_total(
    p_order_id INTEGER,
    p_discount_pct DECIMAL DEFAULT 0
)
RETURNS DECIMAL
LANGUAGE plpgsql
AS $$
DECLARE
    v_subtotal DECIMAL;
    v_discount DECIMAL;
BEGIN
    -- Calculate subtotal
    SELECT SUM(quantity * unit_price)
    INTO v_subtotal
    FROM order_items
    WHERE order_id = p_order_id;
    
    -- Calculate discount
    v_discount := v_subtotal * (p_discount_pct / 100);
    
    RETURN ROUND(v_subtotal - v_discount, 2);
END;
$$;

In [ ]:
%%sql
-- Use the function
SELECT 
    order_id,
    calc_discounted_total(order_id) AS full_price,
    calc_discounted_total(order_id, 10) AS with_10pct_discount
FROM orders
LIMIT 5;

In [ ]:
%%sql
-- Function: Get customer tier based on spending
CREATE OR REPLACE FUNCTION get_customer_tier(p_customer_id INTEGER)
RETURNS VARCHAR(20)
LANGUAGE plpgsql
AS $$
DECLARE
    v_total_spent DECIMAL;
BEGIN
    SELECT COALESCE(SUM(total), 0)
    INTO v_total_spent
    FROM orders
    WHERE customer_id = p_customer_id;
    
    IF v_total_spent >= 100 THEN
        RETURN 'Platinum';
    ELSIF v_total_spent >= 50 THEN
        RETURN 'Gold';
    ELSIF v_total_spent >= 25 THEN
        RETURN 'Silver';
    ELSE
        RETURN 'Bronze';
    END IF;
END;
$$;

In [ ]:
%%sql
-- Use in a query
SELECT 
    customer_id,
    first_name || ' ' || last_name AS name,
    get_customer_tier(customer_id) AS tier
FROM customers
ORDER BY customer_id;

### Function Returning a Table

In [ ]:
%%sql
-- Function returning multiple rows
CREATE OR REPLACE FUNCTION get_low_stock_products(p_threshold INTEGER DEFAULT 15)
RETURNS TABLE (
    product_name VARCHAR,
    category VARCHAR,
    current_stock INTEGER,
    reorder_level INTEGER
)
LANGUAGE plpgsql
AS $$
BEGIN
    RETURN QUERY
    SELECT 
        p.name,
        c.name,
        p.stock_quantity,
        p.reorder_level
    FROM products p
    JOIN categories c ON p.category_id = c.category_id
    WHERE p.stock_quantity <= p_threshold
    ORDER BY p.stock_quantity;
END;
$$;

In [ ]:
%%sql
-- Call the function
SELECT * FROM get_low_stock_products(20);

### Creating Stored Procedures

In [ ]:
%%sql
-- Procedure: Process a restock order
CREATE OR REPLACE PROCEDURE restock_product(
    p_product_id INTEGER,
    p_quantity INTEGER,
    p_notes TEXT DEFAULT NULL
)
LANGUAGE plpgsql
AS $$
BEGIN
    -- Update stock quantity
    UPDATE products 
    SET stock_quantity = stock_quantity + p_quantity
    WHERE product_id = p_product_id;
    
    -- Log the change
    INSERT INTO inventory_log (product_id, change_quantity, change_type, notes)
    VALUES (p_product_id, p_quantity, 'restock', p_notes);
    
    COMMIT;
END;
$$;

In [ ]:
%%sql
-- Check current stock
SELECT product_id, name, stock_quantity FROM products WHERE product_id = 6;

In [ ]:
%%sql
-- Call the procedure
CALL restock_product(6, 20, 'Weekly delivery');

In [ ]:
%%sql
-- Verify the restock
SELECT product_id, name, stock_quantity FROM products WHERE product_id = 6;
SELECT * FROM inventory_log WHERE product_id = 6;

### üéØ Exercise 4.1: Create a Function

Create a function `calc_loyalty_points(p_order_total DECIMAL)` that returns loyalty points:
- 1 point per dollar spent
- Bonus: 2x points for orders over $20

In [ ]:
%%sql
-- YOUR CODE HERE: Create the function

In [ ]:
%%sql
-- Test your function
SELECT 
    order_id, 
    total,
    calc_loyalty_points(total) AS points_earned
FROM orders
ORDER BY total DESC
LIMIT 5;

---

## Part 5: Common Table Expressions (CTEs)

**CTEs** (WITH clauses) make complex queries more readable.

### Basic CTE

In [ ]:
%%sql
-- CTE for customer spending
WITH customer_spending AS (
    SELECT 
        customer_id,
        SUM(total) AS total_spent,
        COUNT(*) AS order_count
    FROM orders
    GROUP BY customer_id
)
SELECT 
    c.first_name || ' ' || c.last_name AS customer,
    cs.total_spent,
    cs.order_count,
    ROUND(cs.total_spent / cs.order_count, 2) AS avg_order
FROM customers c
JOIN customer_spending cs ON c.customer_id = cs.customer_id
ORDER BY cs.total_spent DESC;

### Multiple CTEs

In [ ]:
%%sql
-- Multiple CTEs for complex analysis
WITH 
category_sales AS (
    SELECT 
        p.category_id,
        SUM(oi.quantity * oi.unit_price) AS revenue
    FROM order_items oi
    JOIN products p ON oi.product_id = p.product_id
    GROUP BY p.category_id
),
total_revenue AS (
    SELECT SUM(revenue) AS total FROM category_sales
)
SELECT 
    c.name AS category,
    ROUND(cs.revenue::numeric, 2) AS revenue,
    ROUND((cs.revenue / tr.total * 100)::numeric, 1) AS pct_of_total
FROM category_sales cs
JOIN categories c ON cs.category_id = c.category_id
CROSS JOIN total_revenue tr
ORDER BY cs.revenue DESC;

### Recursive CTE

In [ ]:
%%sql
-- Recursive CTE for employee hierarchy
WITH RECURSIVE emp_hierarchy AS (
    -- Base case: top-level manager
    SELECT 
        employee_id,
        first_name || ' ' || last_name AS name,
        position,
        manager_id,
        1 AS level,
        first_name || ' ' || last_name AS path
    FROM employees
    WHERE manager_id IS NULL
    
    UNION ALL
    
    -- Recursive case: employees with managers
    SELECT 
        e.employee_id,
        e.first_name || ' ' || e.last_name,
        e.position,
        e.manager_id,
        h.level + 1,
        h.path || ' > ' || e.first_name || ' ' || e.last_name
    FROM employees e
    JOIN emp_hierarchy h ON e.manager_id = h.employee_id
)
SELECT 
    REPEAT('  ', level - 1) || name AS employee,
    position,
    level,
    path
FROM emp_hierarchy
ORDER BY path;

---

## Part 6: Window Functions

**Window functions** perform calculations across related rows.

### ROW_NUMBER, RANK, DENSE_RANK

In [ ]:
%%sql
-- Rank products by price within each category
SELECT 
    c.name AS category,
    p.name AS product,
    p.price,
    ROW_NUMBER() OVER (PARTITION BY c.category_id ORDER BY p.price DESC) AS row_num,
    RANK() OVER (PARTITION BY c.category_id ORDER BY p.price DESC) AS rank,
    DENSE_RANK() OVER (PARTITION BY c.category_id ORDER BY p.price DESC) AS dense_rank
FROM products p
JOIN categories c ON p.category_id = c.category_id
ORDER BY c.name, p.price DESC;

### Running Totals and Moving Averages

In [ ]:
%%sql
-- Running total of daily sales
SELECT 
    DATE(order_date) AS order_date,
    SUM(total) AS daily_total,
    SUM(SUM(total)) OVER (ORDER BY DATE(order_date)) AS running_total
FROM orders
GROUP BY DATE(order_date)
ORDER BY order_date;

In [ ]:
%%sql
-- Moving average (3-day window)
SELECT 
    DATE(order_date) AS order_date,
    SUM(total) AS daily_total,
    ROUND(AVG(SUM(total)) OVER (
        ORDER BY DATE(order_date) 
        ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    )::numeric, 2) AS moving_avg_3day
FROM orders
GROUP BY DATE(order_date)
ORDER BY order_date;

### LAG and LEAD

In [ ]:
%%sql
-- Compare each day's sales to previous day
WITH daily_sales AS (
    SELECT 
        DATE(order_date) AS order_date,
        SUM(total) AS daily_total
    FROM orders
    GROUP BY DATE(order_date)
)
SELECT 
    order_date,
    daily_total,
    LAG(daily_total) OVER (ORDER BY order_date) AS prev_day,
    daily_total - LAG(daily_total) OVER (ORDER BY order_date) AS change,
    LEAD(daily_total) OVER (ORDER BY order_date) AS next_day
FROM daily_sales
ORDER BY order_date;

### FIRST_VALUE and LAST_VALUE

In [ ]:
%%sql
-- Compare each product's price to cheapest/most expensive in category
SELECT 
    c.name AS category,
    p.name AS product,
    p.price,
    FIRST_VALUE(p.price) OVER (PARTITION BY c.category_id ORDER BY p.price) AS min_in_category,
    LAST_VALUE(p.price) OVER (
        PARTITION BY c.category_id 
        ORDER BY p.price
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS max_in_category,
    p.price - FIRST_VALUE(p.price) OVER (PARTITION BY c.category_id ORDER BY p.price) AS diff_from_min
FROM products p
JOIN categories c ON p.category_id = c.category_id
ORDER BY c.name, p.price;

### üéØ Exercise 6.1: Customer Purchase Ranking

For each customer, show their orders ranked by total amount, along with:
- Order rank (1 = highest)
- Running total of their orders
- Difference from their previous order amount

In [ ]:
%%sql
-- YOUR CODE HERE

---

## üèÜ Challenge Exercises

### Challenge 1: Create a Complete Sales Report View

Create a view `v_monthly_sales_report` that shows:
- Month (YYYY-MM format)
- Total orders
- Total revenue
- Average order value
- Revenue change from previous month (using LAG)
- Percentage change from previous month

In [ ]:
%%sql
-- YOUR CODE HERE

### Challenge 2: Inventory Management Procedure

Create a procedure `process_sale(p_product_id INTEGER, p_quantity INTEGER)` that:
1. Checks if enough stock exists
2. If yes: reduces stock and logs the change
3. If no: raises an exception with message 'Insufficient stock'

Use a transaction to ensure atomicity.

In [ ]:
%%sql
-- YOUR CODE HERE

### Challenge 3: Top Products Per Category (Using CTE + Window Function)

Write a query that shows the top 2 best-selling products in each category by revenue.

Include:
- Category name
- Product name
- Total units sold
- Total revenue
- Rank within category

In [ ]:
%%sql
-- YOUR CODE HERE

---

## Summary

### Views
```sql
CREATE OR REPLACE VIEW view_name AS SELECT ...;
```

### Indexes
```sql
CREATE INDEX idx_name ON table(column);
EXPLAIN ANALYZE SELECT ...;  -- Check if index is used
```

### Transactions
```sql
BEGIN;
-- operations
SAVEPOINT name;
-- more operations
ROLLBACK TO SAVEPOINT name;  -- partial rollback
COMMIT;  -- or ROLLBACK;
```

### Functions
```sql
CREATE FUNCTION name(params) RETURNS type AS $$ ... $$ LANGUAGE plpgsql;
```

### Procedures
```sql
CREATE PROCEDURE name(params) AS $$ ... $$ LANGUAGE plpgsql;
CALL procedure_name(args);
```

### CTEs
```sql
WITH cte_name AS (SELECT ...) SELECT ... FROM cte_name;
```

### Window Functions
```sql
ROW_NUMBER() OVER (PARTITION BY col ORDER BY col)
SUM(col) OVER (ORDER BY col ROWS BETWEEN ...)
LAG(col) / LEAD(col) OVER (ORDER BY col)
```

---

**Excellent work!** You've mastered advanced SQL techniques including views, indexes, transactions, functions, CTEs, and window functions!